<launch>
	<arg name="node_start_delay" default="1.0" /> 
	<arg name="gnssPortPath" value="/dev/ttyAMA0"/>
	<arg name="loggerPath" value="/home/ubuntu/Poseidon/www/webroot/record/"/>
	
	<!-- the node launching order matters -->
	<test test-name="test_zf9p" pkg="gnss_zed_f9p" type="test_gnss_zed_f9p" />
	<node pkg="gnss_dummy" name="GNSS" type="gnss_dummy_node" output="screen" />
	<node pkg="gnss_zed_f9p" name="gnss_zf9p" type="gnss_zed_f9p_node" output="screen" respawn="true" respawn_delay="1" args="$(arg loggerPath) $(arg gnssPortPath)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
	
	
	
</launch>
