<launch>

<arg name="gnssPortPath" value="/dev/ttyACM0"/>
<arg name="gpsdIp" value="localhost"/>
<arg name="gpsdPort" value="2947"/>

<arg name="loggerPath" value="/home/ubuntu/Poseidon/www/webroot/record/"/>
<arg name="configPath" value="/home/ubuntu/Poseidon/config.txt"/>


<node pkg="rosbag" name="play_gps"      type="play" args=" /home/ubuntu/rosbag/2020.11.05_185818_all.bag" />




</launch>

