<launch>


	<!-- the node launching order matters -->
	<node pkg="gnss_dummy" name="GNSS" type="gnss_dummy_node" output="screen" />
	<node pkg="state_controller" name="state_controller" type="state_controller_node" output="screen"/>
	<test pkg="logger_text" test-name="logger_text" type="test_logger_text_node"/>
	
	
	
</launch>
