<!-- -*- mode: XML -*- -->
<launch>
<arg name="loggerPath" value="/opt/Poseidon/www/webroot/record/"/>

<node pkg="i2c_controller" name="i2c_controller" type="i2c_controller_node" output="screen" respawn="true" respawn_delay="1"/>
<!--<node pkg="power_management" name="power_management" type="power_management_node" output="screen" respawn="true" respawn_delay="1"/>-->
<!--<node pkg="raspberrypi_vitals" name="Vitals" type="raspberrypi_vitals_node" output="screen" respawn="true" respawn_delay="1"/>-->
<node pkg="logger" name="logger" type="logger_text_node" output="screen" args="$(arg loggerPath)" respawn="true" respawn_delay="1">
	<param name="fileExtensionForSonarDatagram" value=".img852"/>
	<param name="fileExtensionForGpsDatagram" value=".ubx"/>
</node>

<node pkg="water_infiltration" name="water_infiltration_node" type="water_infiltration.py" output="screen" respawn="true" respawn_delay="1"/>

</launch>
