<!-- -*- mode: XML -*- -->
<launch>
<arg name="sonarAddress" value="127.0.0.1"/>
<arg name="sonarPort" value="8000"/>
<arg name="loggerPath" value="/home/ubuntu/Poseidon/www/webroot/record/"/>
<arg name="configPath" value="/home/ubuntu/Poseidon/config.txt"/>


<!-- Velodyne vlp arguments -->
  <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="device_ip" default="10.0.0.3" />
  <arg name="frame_id" default="velodyne" />
  <arg name="manager" default="$(arg frame_id)_nodelet_manager" />
  <arg name="max_range" default="130.0" />
  <arg name="min_range" default="0.4" />
  <arg name="pcap" default="" />
  <arg name="port" default="2368" />
  <arg name="read_fast" default="false" />
  <arg name="read_once" default="false" />
  <arg name="repeat_delay" default="0.0" />
  <arg name="rpm" default="600.0" />
  <arg name="gps_time" default="false" />
  <arg name="pcap_time" default="false" />
  <arg name="cut_angle" default="-0.01" />
  <arg name="timestamp_first_packet" default="false" />
  <arg name="laserscan_ring" default="-1" />
  <arg name="laserscan_resolution" default="0.007" />
  <arg name="organize_cloud" default="false" />



<node pkg="hydroball_config_websocket" name="hydroball_config_websocket" type="hydroball_config_websocket_node" args="$(arg configPath)" output="screen"/>

<!--<node pkg="logger_text" name="logger_text" type="logger_text_node" output="screen" args="$(arg loggerPath)"/>-->

<node pkg="logger" name="logger" type="logger_text_node" output="screen" args="$(arg loggerPath)" />

<node pkg="imu_dummy" name="IMU" type="imu_dummy_node" output="screen"/>

<node pkg="gnss_dummy" name="GNSS" type="gnss_dummy_node" output="screen" /> 

<node pkg="state_controller" name="state_controller" type="state_controller_node" output="screen"/>

<node pkg="hydroball_data_websocket" name="hydroball_data_websocket" type="hydroball_data_websocket_node" args="$(arg loggerPath)" output="screen"/>

<node pkg="hydroball_files_websocket" name="hydroball_files_websocket" type="hydroball_files_websocket_node" args="$(arg loggerPath)" output="screen"/>


</launch>
