<launch>

<arg name="gnssPortPath" value="/dev/ttyACM0"/>
<arg name="gpsdIp" value="localhost"/>
<arg name="gpsdPort" value="2947"/>

<arg name="loggerPath" value="/home/ubuntu/Poseidon/www/webroot/record/"/>
<arg name="configPath" value="/home/ubuntu/Poseidon/config.txt"/>

<node pkg="hydroball_config_websocket" name="hydroball_config_websocket" type="hydroball_config_websocket_node" args="$(arg configPath)" output="screen"/>

<rosparam subst_value="True">

    inertial_sense_node: { port: "/dev/imu",
                           baud: 921600,
                           navigation_dt_ms: 100,
                           stream_INS: true,
                           stream_IMU: false,
                           stream_GPS: false,
                           stream_GPS_info: false,
                           stream_baro: false,
                           stream_mag: false,
                           stream_preint_IMU: false,
                           INS_rpy_radians : [0,0,0]
                         }
</rosparam>

<node pkg="inertial_sense" name="IMU" type="inertial_sense_node" output="screen">
  <remap from="ins" to="odom"/>
  <param name="port" value="/dev/imu"/>
  <param name="navigation_dt_ms" value="100"/>
  <param name="LTCF" value="1"/>
  <param name="dynamic_model" value="5"/>
  <param name="frame_id" value="imu"/>

  <!-- <param name="INS_rpy_radians" value="0,0,90"/> //-->
</node>

<node pkg="gpsd_client" name="GPS" type="gpsd_client" output="screen" args="$(arg gpsdIp) $(arg gpsdPort)"/>
<node pkg="gnss_zed_f9p" name="gnss_zed_f9p" type="gnss_zed_f9p_node" output="screen" args="$(arg loggerPath) $(arg gnssPortPath)"/>

<node pkg="sonar_imagenex852" type="sonar_imagenex852_node" name="Sonar" output="screen"/>

  

<node pkg="raspberrypi_vitals" name="Vitals" type="raspberrypi_vitals_node" output="screen"/>

<node pkg="state_controller" name="state_controller" type="state_controller_node" output="screen"/>

<node pkg="logger_text" name="logger_text" type="logger_text_node" output="screen" args="$(arg loggerPath)"/>

<node pkg="hydroball_data_websocket" name="hydroball_data_websocket" type="hydroball_data_websocket_node" args="$(arg loggerPath)"/>

<node pkg="hydroball_files_websocket" name="hydroball_files_websocket" type="hydroball_files_websocket_node" args="$(arg loggerPath)"/>



</launch>
