<launch>

<node pkg="rosbag" name="record_gps"   type="record" args="-O ~/gnss.bag --node=gpsd_client" />
<node pkg="rosbag" name="record_sonar" type="record" args="-O ~/imu.bag --node=sonar_imagenex852_node" />
<node pkg="rosbag" name="record_imu"   type="record" args="-O ~/sonar.bag --node=bno055_i2c_node" />
<node pkg="rosbag" name="record_vital" type="record" args="-O ~/vital.bag --node=raspberrypi_vitals_node" />


</launch>
