<launch>

<arg name="loggerPath" value="/opt/Poseidon/www/webroot/record/"/>
<arg name="configPath" value="/opt/Poseidon/config.txt"/>

<node pkg="hydroball_config_websocket" name="hydroball_config_websocket" type="hydroball_config_websocket_node" args="$(arg configPath)"/>
<node pkg="hydroball_files_websocket" name="hydroball_files_websocket" type="hydroball_files_websocket_node" args="$(arg loggerPath)"/>
<node pkg="hydroball_data_websocket" name="hydroball_data_websocket" type="hydroball_data_websocket_node" args="$(arg loggerPath)"/>
<node pkg="state_controller" name="state_controller" type="state_controller_node" output="screen"/>
<node pkg="raspberrypi_vitals" name="Vitals" type="raspberrypi_vitals_node" output="screen"/>


</launch>
