<launch>

<arg name="time_now" default="temp" />
<arg name="gnssPortPath" value="/dev/ttyACM0"/>
<arg name="gpsdIp" value="localhost"/>
<arg name="gpsdPort" value="2947"/>

<arg name="loggerPath" value="/opt/Poseidon/www/webroot/record/"/>
<arg name="configPath" value="/opt/Poseidon/config.txt"/>


<node pkg="gpsd_client" name="GPS" type="gpsd_client" output="screen" respawn="true" respawn_delay="1" args="$(arg gpsdIp) $(arg gpsdPort)"/>
<node pkg="ins_piksi" name="ins_piksi" type="ins_piksi_node" output="screen" respawn="true" respawn_delay="1" args="$(arg loggerPath) $(arg gnssPortPath)"/>


</launch>
